<header>
    <h1>Gamer Haunt</h1>
    <nav>
        <ul>
            <li><a href="/catalog"></a>Home</li>
            <li><a href="/catalog/videogames">All video games</a></li>
            <li><a href="/catalog/platforms">All platforms</a></li>
            <li><a href="/catalog/genres">All genres</a></li>
            <li><a href="/catalog/esrbs">All age ratings</a></li>
            <hr>
            <li><a href="/catalog/videogame/create">Create new video game</a></li>
            <li><a href="/catalog/platform/create">Create new platform</a></li>
            <li><a href="/catalog/genre/create">Create new genre</a></li>
            <li><a href="/catalog/esrb/create">Create new esrb</a></li>
        </ul>
    </nav>
</header>